In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn import preprocessing
from tensorflow.keras.layers import *
from tensorflow.keras.models import *
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from scipy.stats import pearsonr
from sklearn.model_selection import train_test_split
from math import radians, cos, sin, asin, sqrt
import seaborn as sns
from sklearn.metrics import confusion_matrix, mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression, ElasticNet
from sklearn.svm import SVR
from sklearn.decomposition import PCA
import pandas_profiling as pp
from tika import parser
import pdfkit
import pickle
import os
import string
import spacy



import tensorflow
from tensorflow.keras.layers import Dense, Input, Conv1D, BatchNormalization, MaxPool1D
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint


%matplotlib inline

<center><h1> Everything you need to know about dataset !!!</h1></center>
<center><img src="new_data.png"></center>

# Reading and Pre-processing datasets

In [2]:
train_files = os.listdir('Training Dataset')
test_files = os.listdir('Test Data')
result = pd.read_csv('Results2394dca.csv')
pension = pd.read_excel('pension_good.xlsx')
rules = pd.read_excel('rules.xlsx')
# sample_data = pd.read_csv('')

In [3]:
rules.head()

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,NaN,2017,Calhoun,GA,1013737,8612,2017-07-30,Accrual,GA_Muni Asso,"June 30, 2017",13278.249,1619.554,GA_City Charter Unfunded Pen Plan,0,402.436
1,NaN,2017,Engelwood,CO,1028564,12020,2017-12-31,Accrual,CO_Nonemer Emp Ret Sys,"Dec 31, 2017",43838.563,12175.360,CO_Pol Off Pen Plan,0,0.000
2,NaN,2017,Detroit,MI,711506,494151,2017-06-30,Accrual,MI_Gen Ret Sys,"June 30, 2016",NaN,517113.529,MI_Pol & Fire Ret Sys,0,0.000
3,NaN,2017,Joplin,MO,702336,326056,2017-10-31,Accrual,MO_Polman & Firemen Pen Plan,"Oct 31, 2017",64303.000,6483.409,MO_Loc Govt Emp Ret Sys,"June 30, 2017",52488.000
4,NaN,2017,Orange,TX,1029684,27613,2017-09-30,Accrual,TX_Firemen Reli & Ret Fund,"Dec 31, 2016",64303.000,6822.493,TX_Muni Ret Sys,0,19344.058

In [4]:
result.head()

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,1013737_2016,2016,Jeannette,PA,1013737,8612,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1028564_2016,2016,Dickinson,ND,1028564,12020,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,711506_2016,2016,Rawlins County,KS,711506,494151,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,702336_2016,2016,Stone County,MO,702336,326056,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1029684_2017,2017,Anchorage,AK,1029684,27613,31/12/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
result.columns

Index(['For Lookup', 'Year', 'Credit\nName', 'State', 'Security\nID',
       'Org\nID', 'FYE', 'Accounting Basis', 'Pension Plan 1 Name',
       'Pension Plan 1 Measurement Date',
       'Pension Plan 1 Total Pension Liability', 'Balance Sheet Cash',
       'Pension Plan 2 Name', 'Pension Plan 2 Measurement Date',
       'Pension Plan 2 Total Pension Liability'],
      dtype='object')

In [6]:
result.columns = ['For Lookup', 'Year', 'Credit Name', 'State', 'Security ID',
       'Org ID', 'FYE', 'Accounting Basis', 'Pension Plan 1 Name',
       'Pension Plan 1 Measurement Date',
       'Pension Plan 1 Total Pension Liability', 'Balance Sheet Cash',
       'Pension Plan 2 Name', 'Pension Plan 2 Measurement Date',
       'Pension Plan 2 Total Pension Liability']

result_pp = pp.ProfileReport(result)
result_pp.to_file('result.html')
pdfkit.from_file('result.html', 'result.pdf')

pension_pp = pp.ProfileReport(pension)
pension_pp.to_file('pension.html')
pdfkit.from_file('pension.html', 'pension.pdf')

rules_pp = pp.ProfileReport(rules)
rules_pp.to_file('rules.html')
pdfkit.from_file('rules.html', 'rules.pdf')

In [7]:
result.head()

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,1013737_2016,2016,Jeannette,PA,1013737,8612,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1028564_2016,2016,Dickinson,ND,1028564,12020,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,711506_2016,2016,Rawlins County,KS,711506,494151,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,702336_2016,2016,Stone County,MO,702336,326056,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1029684_2017,2017,Anchorage,AK,1029684,27613,31/12/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
rules.head()

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,NaN,2017,Calhoun,GA,1013737,8612,2017-07-30,Accrual,GA_Muni Asso,"June 30, 2017",13278.249,1619.554,GA_City Charter Unfunded Pen Plan,0,402.436
1,NaN,2017,Engelwood,CO,1028564,12020,2017-12-31,Accrual,CO_Nonemer Emp Ret Sys,"Dec 31, 2017",43838.563,12175.360,CO_Pol Off Pen Plan,0,0.000
2,NaN,2017,Detroit,MI,711506,494151,2017-06-30,Accrual,MI_Gen Ret Sys,"June 30, 2016",NaN,517113.529,MI_Pol & Fire Ret Sys,0,0.000
3,NaN,2017,Joplin,MO,702336,326056,2017-10-31,Accrual,MO_Polman & Firemen Pen Plan,"Oct 31, 2017",64303.000,6483.409,MO_Loc Govt Emp Ret Sys,"June 30, 2017",52488.000
4,NaN,2017,Orange,TX,1029684,27613,2017-09-30,Accrual,TX_Firemen Reli & Ret Fund,"Dec 31, 2016",64303.000,6822.493,TX_Muni Ret Sys,0,19344.058

In [9]:
train_files

['Morrison,IL',
 'Northville,MI',
 'Mount Joy Boro,PA',
 'Bissonnet Mun Util Dist,TX',
 'Henrietta Township,MI',
 'Atlanta,GA',
 'Bilma Pub Util Dist,TX',
 'Wilkes Cnty,NC',
 'Ewing Twp,NJ',
 'Franklin Cnty,MO',
 'Faribault,MN',
 'Hillsborough Cnty (countywide GF & DSF),FL',
 'Berlin Twn,CT',
 'Mayville Vill,NY',
 'Bienville Parish Police Jury,LA',
 'Fort Bend County,TX',
 'San Diego,CA',
 'Buffalo,NY',
 'Milwaukee Cnty,WI',
 'Wayne Twp,NJ',
 'Ship Bottom Boro,NJ',
 'Broward Cnty,FL',
 'San Francisco City and Cnty,CA',
 'Perth Amboy,NJ',
 'Jay Cnty,IN',
 'Jamestown Park District,ND',
 'Groton,MA',
 'Harris Cnty,TX',
 'Noblesville,IN',
 'Gettysburg,PA',
 'Alpharetta,GA',
 'Chandler,AZ',
 'West Windsor Twp,NJ',
 'Hutchinson,KS',
 'Berkeley Cnty,SC',
 'Lexington-Fayette Urban Cnty Govt,KY',
 'Regional Transportation Commission,NV',
 'Jasper Cnty,MO',
 'Sni Valley Fire Protection District,MO',
 'Rockwood,TN',
 'Austin Cnty,TX',
 'Leavenworth Cnty,KS',
 'Davenport,IA',
 'Winston-Salem,NC',
 'Mobile Cnty,AL',
 'Williams Cnty,OH',
 'Snyderville Basin Spl Recre Dist,UT',
 'Harris Cnty Mun Util Dist #155,TX',
 'Boulder Cnty,CO',
 'Junction City,KS',
 'Anderson Cnty,TN',
 'Fort Pierce,FL',
 'Cape May Point Boro,NJ',
 'Oak Park,MI',
 'Park Ridge Recre & Pk Dist,IL',
 'Ellis,KS',
 'Antigo,WI',
 'Fruita,CO',
 'West Warwick,RI',
 'Chelford City Mun Util Dist,TX',
 'Lowell,MA',
 'Hawaii Cnty,HI',
 'Cook Cnty,IL',
 'Eagan,MN',
 'Durham Cnty,NC',
 'Manchester,NH',
 'Multnomah Cnty,OR',
 'Flowood,MS',
 'Rossford,OH',
 'Sioux Falls,SD',
 'Cheyenne,WY',
 "O'Fallon IL",
 'Avon,CT',
 'Burlington,VT',
 'Springfield,TN',
 'Laramie,WY',
 'Chicago Pk Dist,IL',
 'Prince Georges Cnty,MD',
 'Hamburg Boro,PA',
 'Washington Cnty,TN',
 'Marblehead Twn,MA',
 'Alcoa,TN',
 'Santa Fe Cnty,NM',
 'Adams Twp,MI',
 'King Cnty,WA',
 'Seattle,WA',
 'Nez Perce Cnty,ID',
 'Boston,MA',
 'Portland,ME',
 'Minot,ND',
 'Dallas Cnty Util & Reclamation Dist,TX',
 'Azusa,CA',
 'Bay Area Rapid Transit (BART),CA',
 'Ocean View,DE',
 'Tulsa,OK',
 'Auburn,WA',
 'Calhoun,GA',
 'Omaha,NE',
 'Petersburg,VA',
 'Fairbanks-North Star Boro,AK']

In [10]:
test_files

['Lake Benton_MN_23324_G O Municipality & County_City _2017.pdf',
 'Texarkana_AR_2518_G O Municipality & County_City_2017.pdf',
 'Ipswich Twn_MA_340179_G O Municipality & County_Town_2018.pdf',
 'Ste. Genevieve_MO_321475_G O Municipality & County_City _2017.pdf',
 'Fayetteville_AR_1499_G O Municipality & County_City_2017.pdf',
 'Wallace County_KS_485563_G O Municipality & County_County_2017.pdf',
 'Pleasant Grove_UT_27947_G O Municipality & County_City _2018.pdf',
 'Talladega_AL_8999_G O Municipality & County_City_2017.pdf',
 'Fillmore Cnty_NE_491999_G O Municipality & County_County_2017.pdf',
 'Red Oak_TX_13782_G O Municipality & County_City_2017.pdf',
 'Harris Cnty Mun Util Dist #168_TX_26773_G O Municipality & County_Special District_2018.Pdf.pdf',
 'Anchorage_AK_27613_G O Municipality & County_City_2017.pdf',
 'Utica City_VT_17524_G O Municipality & County_City_2018.pdf',
 'Sharon_PA_26199_G O Municipality & County_City_2017.pdf',
 'Clay Cnty_KS_475061_G O Municipality & County_County_2017.pdf',
 'Audubon Cnty_IA_303832_G O Municipality & County_County_2017.pdf',
 'Cordova Rec and Park_CA_623440_G O Municipality & County_Special District_2017.pdf',
 'Ansonia_CT_300854_G O Municipality & County_City _2018.pdf',
 'St Johns Cnty_FL_2840_G O Municipality & County_County_2017.pdf',
 'Kitsap Cnty_WA_11962_G O Municipality & County_County_2017.pdf',
 'Seguin_TX_11139_G O Municipality & County_City_2018.pdf',
 'Milpitas_CA_344039_G O Municipality & County_City_2018.pdf',
 'Pima Cnty_AZ_1422_G O Municipality & County_County_2018.pdf',
 'Fond Du Lac_WI_6846_G O Municipality & County_City_2017.pdf',
 'Minneapolis_KS_523347_G O Municipality & County_City _2017.pdf',
 'Ocean City_NJ_4115_G O Municipality & County_City_2017.pdf',
 'Mason Creek Util Dist_TX_7162_G O Municipality & County_Special District_2018.pdf',
 '.ipynb_checkpoints',
 'Utah Cnty_UT_16030_G O Municipality & County_County_2017.pdf',
 'Shelby Cnty_AL_21033_G O Municipality & County_County_2017.pdf',
 'Nassau Cnty_NY_3677_G O Municipality & County_County_2017.pdf',
 'Providence_RI_7947_G O Municipality & County_City_2018.pdf',
 'Angleton Danbury Hosp Dist_TX_15837_G O Municipality & County_Special District_2017.pdf',
 'Summit Cnty_OH_5816_G O Municipality & County_County_2017.pdf',
 'East Haddam_CT_12833_G O Municipality & County_Town_2018.pdf',
 'Woods Cross_UT_20994_G O Municipality & County_City_2018.pdf',
 'Belmont Cnty_OH_13654_G O Municipality & County_County_2017.pdf',
 'Las Cruces_NM_2956_G O Municipality & County_City _2018.pdf',
 'Crestview_FL_2916_G O Municipality & County_City_2017.pdf',
 'Moscow_ID_326597_G O Municipality & County_City _2017.pdf',
 'Joliet Pk Dist_IL_12617_G O Municipality & County_Special District_2017.pdf',
 'Sussex Cnty_DE_13218_G O Municipality & County_County_2018.pdf',
 'Kalispell _MT_361330_G O Municipality & County_City _2018.pdf',
 'Plaquemine_LA_322719_G O Municipality & County_City _2017.pdf',
 'Salem_NH_12414_G O Municipality & County_Town_2017.pdf',
 'Chelan Cnty_WA_15594_G O Municipality & County_County_2017.pdf',
 'Grundy Cnty_IL_362269_G O Municipality & County_County_2018.pdf',
 'Commerce_CA_379093_G O Municipality & County_City_2018.pdf',
 'Geneva County_AL_571349_G O Municipality & County_County_2017.pdf',
 'Dodge City_KS_15059_G O Municipality & County_City _2017.pdf',
 'Bath Charter Twp_MI_378353_G O Municipality & County_Town_2017.pdf',
 'Pine Bluff_AR_14783_G O Municipality & County_City _2017.pdf',
 'Oro Vy_AZ_20742_G O Municipality & County_Town_2017.pdf',
 'Travis Cnty Mun Util Dist No.11_TX_557386_G O Municipality & County_special District_2018.Pdf.pdf',
 'Fredericksburg_VA_6586_G O Municipality & County_City _2018.pdf',
 'El Paso De Robles  aka Paso Robles _CA_17712_G O Municipality & County_City _2018.pdf',
 'Sea Isle City_NJ_10889_G O Municipality & County_City_2017.pdf',
 'River Trails Pk Dist_IL_347152_G O Municipality & County_Special District_2017.pdf',
 'Killingly Twn_CT_550_G O Municipality & County_Town_2017.pdf',
 'Yonkers_NY_3562_G O Municipality & County_City _2018.pdf',
 'Valdez_AK_1129_G O Municipality & County_City_2017.pdf',
 'Farmers Branch_TX_22559_G O Municipality & County_City_2018.pdf',
 'Clay Twp_MI_345734_G O Municipality & County_Town_2018.pdf',
 'Hot Springs_SD_553948_G O Municipality & County_City _2017.pdf',
 'Stone County_MO_326056_G O Municipality & County_County_2016.pdf',
 'Rawlins County_KS_494151_G O Municipality & County_County_2016.pdf',
 'Harris Cnty Mun Util Dist 354_TX_326743_G O Municipality & County_Special District_2017.pdf',
 'Sweetwater Cnty_WY_15662_G O Municipality & County_County_2017.pdf',
 'South Florida Wtr Mgt Dist_FL_13376_G O Municipality & County_Special District_2017.pdf',
 'Williamson Cnty Mun Util Dist 11_TX_479501_G O Municipality & County_special District_2018.pdf',
 'Reno_NV_4397_G O Municipality & County_City_2018.pdf',
 'St Louis Regl Arpt Auth_IL_333960_G O Municipality & County_Special District_2018.pdf',
 'Smithfield_RI_7948_G O Municipality & County_Town_2018.pdf',
 'Garfield Township_MI_521870_G O Municipality & County_Town_2017.pdf',
 'Tamarac_FL_10088_G O Municipality & County_City_2018.pdf',
 'Virginia Peninsula Regl Jail Auth_VA_303122_G O Municipality & County_Special District_2017.pdf',
 'Summerdale_AL_405045_G O Municipality & County_City_2017.pdf',
 'Snoqualmie_WA_367048_G O Municipality & County_City_2017.pdf',
 'Dickinson_ND_12020_G O Municipality & County_City_2016.pdf',
 'Greenfield_MA_23202_G O Municipality & County_Town_2017.pdf',
 'Pointe Coupee Parish_LA_14599_G O Municipality & County_County_2017.pdf',
 'St. Bernard Parish_LA_89_G O Municipality & County_County_2017.pdf',
 'La Paz Cnty_AZ_372467_G O Municipality & County_County_2017.pdf',
 'Jefferson Cnty  GO _AL_10928_G O Municipality & County_County_2017.pdf',
 'Buford_GA_14231_G O Municipality & County_City _2016.pdf',
 'Annapolis_MD_1784_G O Municipality & County_City_2018.pdf',
 'Shell Rock River Watershed District_MN_607184_G O Municipality & County_Special District_2017.pdf',
 'Jeannette_PA_8612_G O Municipality & County_City _2016.pdf',
 'Denver City Cnty_CO_1025_G O Municipality & County_County_2017.pdf',
 'Grand Meadow_MN_490158_G O Municipality & County_City _2017.pdf',
 'Centerville City_UT_467721_G O Municipality & County_City _2018.pdf',
 'Burleigh Cnty_ND_10620_G O Municipality & County_County_2017.pdf',
 'NOVATO_CA_20829_G O Municipality & County_City _2017.pdf',
 'Jones Cnty_MS_21281_G O Municipality & County_County_2017.pdf',
 'Gwinnett Cnty_GA_9457_G O Municipality & County_County_2017.pdf',
 'Hidalgo Cnty Dr Dist 1_TX_7635_G O Municipality & County_Special District_2017.pdf',
 'Spring Creek Utility District_TX_322417_G O Municipality & County_Special District_2018.pdf',
 'Wadsworth_OH_25271_G O Municipality & County_City _2017.pdf',
 'Surry Cnty_NC_3385_G O Municipality & County_County_2018.pdf']

In [56]:
data = list(map(lambda x : x.strip().lower(), [x for x in parser.from_file('Test Data/' + test_files[0])['content'].split('\n') if x!='' and x!=' ']))

In [57]:
'basis' in data

False

In [64]:
for i in data:
    if 'net pension liability' in i:
        print(i)
        
# for i in range(len(data)):
#     if 'pension plan' in data[i]:
#         print(i)

schedule of city’s proportionate share of general net pension liability 55
schedule of city’s proportionate share of police and fire net pension liability                            57
net pension liability 134,251 45,964 180,215
net pension liability is not due and payable in the current
net pension liability 32,175 13,789 -- 45,964
for purposes of measuring the net pension liability, deferred outflows/inflows of resources
net pension liability 342,748  23,132  231,629  134,251  0
net pension liability 60,895  6,931  21,863  45,963  0
the general employees fund’s net pension liability. the city’s net pension liability reflected
proportionate share of the net pension liability associated with the city totaled $1,953. the
net pension liability was measured as of june 30, 2017, and the total pension liability used to
calculate the net pension liability was determined by an actuarial valuation as of that date.
the city’s proportion of the net pension liability was based on the city’s contributions
the net pension liability in the year ended december 31, 2018. other amounts reported as
police and fire fund’s net pension liability.  the net pension liability was measured as of june
30, 2017, and the total pension liability used to calculate the net pension liability was determined
by an actuarial valuation as of that date.  the city’s proportion of the net pension liability was
and an offsetting reduction of net pension liability for its proportionate share of the state of
the following presents the city’s proportionate share of the net pension liability for all plans
well as what the city’s proportionate share of the net pension liability would be if it were
sensitivity of net pension liability at current single discount rate (in thousands)
fiscal year net pension liability share (amount) of the net net pension liability proportionate share of the covered-employee percentage of its covered- percentage of the
ending (asset) pension liability (asset) (a) associated with the city (b) net pension liability (a+b) payroll (c) employee payroll ((a+b)/c) total pension liability
schedule of city's proportionate share of net pension liability
schedule of city's proportionate share of net pension liability

In [14]:
account= ''
expense = ''
b1name = ''; b1date = ''; b1amt = 0
b2name = ''; b2date = ''; b2amt = 0

## First Detecting Account

In [15]:
check = test_files[0]

In [16]:
for i in data:
    if 'basis of accounting' in i:
        tmp = i.find('basis of accounting')
        first = 0; last = 0;
        if tmp - 50<0: #Checking for desired keyword in first and last 50 characters from the tmp
            first = 0
        else:
            first = tmp - 50
        
        if tmp+50 > len(i)-1:
            last = len(i) - 1
        else:
            last = tmp+50
            
        if 'modified accrual' in i[first:tmp] or 'modified accrual' in i[tmp:last]:
            account = 'Modified Accrual'
            break
        elif 'modified cash' in i[first:tmp] or 'modified cash' in i[tmp:last]:
            account = 'Modified Cash'
            break
        elif 'accrual' in i[first:tmp] or 'accrual' in i[tmp:last]:
            account = 'Accrual'
            break
        elif 'cash' in i[first:tmp] or 'cash' in i[tmp:last]:
            account = 'Cash'
            break
        elif 'regulatory' in i[first:tmp] or 'regulatory' in i[tmp:last]:
            account = 'Regulatory'
            break
        else:
            account = '0'
print(account)

Accrual

## Now detecting Balance Sheet Cash

In [17]:
stack = []
upto = 0
bills = []; curr = [];

In [18]:
def isblank (myString):
    if myString and myString.strip():
        #myString is not None AND myString is not empty or blank
        return False
    #myString is None OR myString is empty or blank
    return True

In [19]:
#For extracting money from the possible section of document
def amount(stack):
    temp = 0
    target = ''
    stack = list(map(lambda x: x.split(' '), stack))
    for i in range(len(stack)):
        stack[i] = list(map(lambda x: x.strip(string.punctuation+' '), stack[i]))
        stack[i] = ' '.join(stack[i]).split() #For removing extra blank characters
        for j in range(len(stack[i])):
            if len(stack[i][j].split(',')) > 1:
                var = stack[i][j].split(',')
                for k in range(len(var)):
                    try:
                        int(var[k])
                        target =  target + var[k] #Trying to avoid using spacy for detecting number here, for unknown scenario reasons
                    except:
                        break
                                               
                        
        if isblank(target):
            pass
        else:
            return int(target)

In [20]:
for i in range(len(data)-1):
#     print(i)
    #First detecting if we've all the 4 keywords
    if 'balance' in data[i]:
        if 'sheet' in data[i]:
            if 'government' in data[i]:
                if 'fund' in data[i]:
                    stack = data[i:i+30]
                    expense = amount(stack)
#                     print("Expense", expense)
                    if expense != None and expense != 0:
#                         print('Four executing')
                        del data[i:i+30]
                        break
                    else:
                        pass
    elif 'balance sheet' in data[i]:
#         print("Second executing")
        expense = amount(stack)
        if expense != None and expense != 0:
            del data[i:i+30]
            break
        else:
            pass
print(expense)

182009

### Now Pension plan 1,2 name

In [21]:
nlp = spacy.load('en_core_web_sm')

In [177]:
b1name = None; b2name =  None; del1 = 0
b1amt = ''; b2amt = '';
b1date =  None; b2date =  None;

In [178]:
doc = nlp("Next week I'll   be in Madrid, which means on 1/12/22, 2019")
for token in doc:
    print("{0}\t{1}\t{2}\t{3}\t{4}\t{5}\t{6}\t{7}".format(
        token.text,
        token.idx,
        token.lemma_,
        token.is_punct,
        token.is_space,
        token.shape_,
        token.pos_,
        token.tag_        
    ))
    
for ent in doc.ents:
    if ent.label_ == 'DATE':
        print(ent.text)
        break

Next	0	next	False	False	Xxxx	ADJ	JJ
week	5	week	False	False	xxxx	NOUN	NN
I	10	-PRON-	False	False	X	PRON	PRP
'll	11	will	False	False	'xx	AUX	MD
  	15	  	False	True	  	SPACE	_SP
be	17	be	False	False	xx	VERB	VB
in	20	in	False	False	xx	ADP	IN
Madrid	23	Madrid	False	False	Xxxxx	PROPN	NNP
,	29	,	True	False	,	PUNCT	,
which	31	which	False	False	xxxx	DET	WDT
means	37	mean	False	False	xxxx	VERB	VBZ
on	43	on	False	False	xx	ADP	IN
1/12/22	46	1/12/22	False	False	d/dd/dd	NUM	CD
,	53	,	True	False	,	PUNCT	,
2019	55	2019	False	False	dddd	NUM	CD
Next week

In [179]:
','.join(data[0:5])

'draft again 2.xls,annual financial report,for the year ended,december 31, 2017,kinner & company ltd'

In [180]:
data = list(map(lambda x : x.strip().lower(), [x for x in parser.from_file('Test Data/' + test_files[0])['content'].split('\n') if x!='' and x!=' ']))

## Pension Plan 1

In [181]:
for i in range(len(data)): # This is for detecting pension plan1 name and date
#     print(i)
    if 'pension plan' in data[i]:
#         print(data[i])
        tmp = data[i].split(' ')
        tmp = ' '.join(tmp).split() 
#         print(tmp)
#         print('*'*100)

        for j in range(len(tmp)):
            if tmp[j]=='plan':
                doc = nlp(data[i])
                for token in range(len(doc)):
                    if doc[token].text == 'plan':
                        try:
#                             print(doc[token+1])
#                             print(token, len(doc), "im doing exp")
                            if doc[token+1].pos_=='NOUN':
                                b1name = doc[token+1].text
                                stack = ','.join(data[i:i+10])
                                test = nlp(str(stack))
                                for ent in test.ents:
                                    if ent.label_ =='DATE':
                                        b1date = ent.text
                                        break
                                
                                
                        except:
                            print("next token was over the top")
               

    if b1name != None and b1date != None:
        print("Deleting", i, "to", i+10) #Because don't wanna use it again!!
        del data[i:i+10]
        break

# Now to detect pension plan 1 number
large = -100
todel = 0
b1amt = ''
for i in range(len(data)):
    if 'net' in data[i]:
        if 'pension' in data[i]:
            if 'liability' in data[i]:
               
#                 print(data[i])
#                 print('*' * 100)
                tmp = data[i].split(' ')
                tmp = ' '.join(tmp).split() 
#                 print(" wanna see tmp too", tmp)
                for j in range(len(tmp)):
                    b1amt = ''
#                     if len(tmp[j].split(',')) > 1:                     # if len(' '.join('liability,'.split(',')).split()) > 1:
                    if len(' '.join(tmp[j].split(',')).split()) > 1:
#                         print(tmp[j])
#                         print('*' * 100)
                        broke = ' '.join(tmp[j].split(',')).split()
                        
#                         print("This is broke", broke)
#                         print('~' * 100)
                        for k in range(len(broke)):
                            try:
                                int(broke[k])
#                                 print("Int happened")
                                b1amt = b1amt + broke[k]
#                                 print("This is b1amt", b1amt)
                            except:
                                break
                        try:
                            if float(b1amt) > large:
                                large = int(b1amt)
                                todel = i
                        except:
                            print("This instance, wasn't good", b1amt)


b1amt = large
del data[todel]
        
        
print("This is the pension plan 1 name", b1name)
print("This is the pension plan 1 date", b1date)
print("This is the net liability money", b1amt)
print("Todel deleted was: ",todel)

next token was over the top
Deleting 1948 to 1958
This instance, wasn't good
This is the pension plan 1 name investments
This is the pension plan 1 date december 31
This is the net liability money 342748
Todel deleted was:  1722

## Pension Plan 2

In [182]:
for i in range(len(data)): # This is for detecting pension plan1 name and date
    if 'pension plan' in data[i]:
        tmp = data[i].split(' ')
        tmp = ' '.join(tmp).split() 
        for j in range(len(tmp)):
            if tmp[j]=='plan':
                doc = nlp(data[i])
                for token in range(len(doc)):
                    if doc[token].text == 'plan':
                        try:
                            if doc[token+1].pos_=='NOUN':
                                b2name = doc[token+1].text
                                stack = ','.join(data[i:i+10])
                                test = nlp(str(stack))
                                for ent in test.ents:
                                    if ent.label_ =='DATE':
                                        b2date = ent.text
                                        break

                        except:
                            print("next token was over the top")
               

    if b2name != None and b2date != None:
        print("Deleting", i, "to", i+10) #Because don't wanna use it again, for pension plan 2!!
        del data[i:i+10]
        break

# Now to detect pension plan 1 number
large = -100
todel = 0
b2amt = ''
for i in range(len(data)):
    if 'net' in data[i]:
        if 'pension' in data[i]:
            if 'liability' in data[i]:
                tmp = data[i].split(' ')
                tmp = ' '.join(tmp).split() 
                for j in range(len(tmp)):
                    b2amt = ''
                    if len(' '.join(tmp[j].split(',')).split()) > 1:
                        broke = ' '.join(tmp[j].split(',')).split()
                        for k in range(len(broke)):
                            try:
                                int(broke[k])
                                b2amt = b2amt + broke[k]
                            except:
                                break
                        try:
                            if float(b2amt) > large:
                                large = int(b2amt)
                                todel = i
                        except:
                            print("This instance, wasn't good", b2amt)


b2amt = large
        
        
print("This is the pension plan 2 name", b2name)
print("This is the pension plan 2 date", b2date)
print("This is the net liability money", b2amt)

next token was over the top
Deleting 1994 to 2004
This instance, wasn't good
This is the pension plan 2 name investments
This is the pension plan 2 date the year ended december 31, 2018
This is the net liability money 180215

In [151]:
todel

1712

In [145]:
for ent in test.ents:
    print(ent)

1,174
december 31
5

In [ ]:
if 'pension plan' in data[1916]:
    print(1916)

In [ ]:
data[1995]

In [29]:
len(data)

2540

In [78]:
len(' '.join('134,251'.split(',')).split())

2

In [84]:
broke

['$1', '953.']

In [85]:
for i in range(len(['45', '964'])):
    print(

0
1

In [86]:
bb = ['45', '964']

In [87]:
int(bb[0])

45

In [91]:
bb[0]+bb[1]

'45964'

In [94]:
'' + 'hello'

'hello'