In [46]:
import numpy as np
import pandas as pd
import sklearn
from sklearn import preprocessing
from tensorflow.keras.layers import *
from tensorflow.keras.models import *
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from scipy.stats import pearsonr
from sklearn.model_selection import train_test_split
from math import radians, cos, sin, asin, sqrt
import seaborn as sns
from sklearn.metrics import confusion_matrix, mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression, ElasticNet
from sklearn.svm import SVR
from sklearn.decomposition import PCA
import pandas_profiling as pp
from tika import parser
import pdfkit
import pickle
import os
import string
import spacy
import nltk



import tensorflow
from tensorflow.keras.layers import Dense, Input, Conv1D, BatchNormalization, MaxPool1D
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint


%matplotlib inline

<center><h1> Everything you need to know about dataset !!!</h1></center>
<center><img src="new_data.png"></center>

# Reading and Pre-processing datasets

In [47]:
train_files = os.listdir('Training Dataset')
test_files = os.listdir('Test Data')
result = pd.read_csv('Results2394dca.csv')
pension = pd.read_excel('pension_good.xlsx')
rules = pd.read_excel('rules.xlsx')
# sample_data = pd.read_csv('')

In [48]:
rules.head()

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,NaN,2017,Calhoun,GA,1013737,8612,2017-07-30,Accrual,GA_Muni Asso,"June 30, 2017",13278.249,1619.554,GA_City Charter Unfunded Pen Plan,0,402.436
1,NaN,2017,Engelwood,CO,1028564,12020,2017-12-31,Accrual,CO_Nonemer Emp Ret Sys,"Dec 31, 2017",43838.563,12175.360,CO_Pol Off Pen Plan,0,0.000
2,NaN,2017,Detroit,MI,711506,494151,2017-06-30,Accrual,MI_Gen Ret Sys,"June 30, 2016",NaN,517113.529,MI_Pol & Fire Ret Sys,0,0.000
3,NaN,2017,Joplin,MO,702336,326056,2017-10-31,Accrual,MO_Polman & Firemen Pen Plan,"Oct 31, 2017",64303.000,6483.409,MO_Loc Govt Emp Ret Sys,"June 30, 2017",52488.000
4,NaN,2017,Orange,TX,1029684,27613,2017-09-30,Accrual,TX_Firemen Reli & Ret Fund,"Dec 31, 2016",64303.000,6822.493,TX_Muni Ret Sys,0,19344.058

In [4]:
result.head()

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,1013737_2016,2016,Jeannette,PA,1013737,8612,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1028564_2016,2016,Dickinson,ND,1028564,12020,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,711506_2016,2016,Rawlins County,KS,711506,494151,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,702336_2016,2016,Stone County,MO,702336,326056,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1029684_2017,2017,Anchorage,AK,1029684,27613,31/12/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
result.columns

Index(['For Lookup', 'Year', 'Credit\nName', 'State', 'Security\nID',
       'Org\nID', 'FYE', 'Accounting Basis', 'Pension Plan 1 Name',
       'Pension Plan 1 Measurement Date',
       'Pension Plan 1 Total Pension Liability', 'Balance Sheet Cash',
       'Pension Plan 2 Name', 'Pension Plan 2 Measurement Date',
       'Pension Plan 2 Total Pension Liability'],
      dtype='object')

In [49]:
result.columns = ['For Lookup', 'Year', 'Credit Name', 'State', 'Security ID',
       'Org ID', 'FYE', 'Accounting Basis', 'Pension Plan 1 Name',
       'Pension Plan 1 Measurement Date',
       'Pension Plan 1 Total Pension Liability', 'Balance Sheet Cash',
       'Pension Plan 2 Name', 'Pension Plan 2 Measurement Date',
       'Pension Plan 2 Total Pension Liability']

result_pp = pp.ProfileReport(result)
result_pp.to_file('result.html')
pdfkit.from_file('result.html', 'result.pdf')

pension_pp = pp.ProfileReport(pension)
pension_pp.to_file('pension.html')
pdfkit.from_file('pension.html', 'pension.pdf')

rules_pp = pp.ProfileReport(rules)
rules_pp.to_file('rules.html')
pdfkit.from_file('rules.html', 'rules.pdf')

In [50]:
result.head()

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,1013737_2016,2016,Jeannette,PA,1013737,8612,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1028564_2016,2016,Dickinson,ND,1028564,12020,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,711506_2016,2016,Rawlins County,KS,711506,494151,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,702336_2016,2016,Stone County,MO,702336,326056,31/12/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1029684_2017,2017,Anchorage,AK,1029684,27613,31/12/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
rules.head()

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,NaN,2017,Calhoun,GA,1013737,8612,2017-07-30,Accrual,GA_Muni Asso,"June 30, 2017",13278.249,1619.554,GA_City Charter Unfunded Pen Plan,0,402.436
1,NaN,2017,Engelwood,CO,1028564,12020,2017-12-31,Accrual,CO_Nonemer Emp Ret Sys,"Dec 31, 2017",43838.563,12175.360,CO_Pol Off Pen Plan,0,0.000
2,NaN,2017,Detroit,MI,711506,494151,2017-06-30,Accrual,MI_Gen Ret Sys,"June 30, 2016",NaN,517113.529,MI_Pol & Fire Ret Sys,0,0.000
3,NaN,2017,Joplin,MO,702336,326056,2017-10-31,Accrual,MO_Polman & Firemen Pen Plan,"Oct 31, 2017",64303.000,6483.409,MO_Loc Govt Emp Ret Sys,"June 30, 2017",52488.000
4,NaN,2017,Orange,TX,1029684,27613,2017-09-30,Accrual,TX_Firemen Reli & Ret Fund,"Dec 31, 2016",64303.000,6822.493,TX_Muni Ret Sys,0,19344.058

In [9]:
train_files

['Morrison,IL',
 'Northville,MI',
 'Mount Joy Boro,PA',
 'Bissonnet Mun Util Dist,TX',
 'Henrietta Township,MI',
 'Atlanta,GA',
 'Bilma Pub Util Dist,TX',
 'Wilkes Cnty,NC',
 'Ewing Twp,NJ',
 'Franklin Cnty,MO',
 'Faribault,MN',
 'Hillsborough Cnty (countywide GF & DSF),FL',
 'Berlin Twn,CT',
 'Mayville Vill,NY',
 'Bienville Parish Police Jury,LA',
 'Fort Bend County,TX',
 'San Diego,CA',
 'Buffalo,NY',
 'Milwaukee Cnty,WI',
 'Wayne Twp,NJ',
 'Ship Bottom Boro,NJ',
 'Broward Cnty,FL',
 'San Francisco City and Cnty,CA',
 'Perth Amboy,NJ',
 'Jay Cnty,IN',
 'Jamestown Park District,ND',
 'Groton,MA',
 'Harris Cnty,TX',
 'Noblesville,IN',
 'Gettysburg,PA',
 'Alpharetta,GA',
 'Chandler,AZ',
 'West Windsor Twp,NJ',
 'Hutchinson,KS',
 'Berkeley Cnty,SC',
 'Lexington-Fayette Urban Cnty Govt,KY',
 'Regional Transportation Commission,NV',
 'Jasper Cnty,MO',
 'Sni Valley Fire Protection District,MO',
 'Rockwood,TN',
 'Austin Cnty,TX',
 'Leavenworth Cnty,KS',
 'Davenport,IA',
 'Winston-Salem,NC',
 'Mobile Cnty,AL',
 'Williams Cnty,OH',
 'Snyderville Basin Spl Recre Dist,UT',
 'Harris Cnty Mun Util Dist #155,TX',
 'Boulder Cnty,CO',
 'Junction City,KS',
 'Anderson Cnty,TN',
 'Fort Pierce,FL',
 'Cape May Point Boro,NJ',
 'Oak Park,MI',
 'Park Ridge Recre & Pk Dist,IL',
 'Ellis,KS',
 'Antigo,WI',
 'Fruita,CO',
 'West Warwick,RI',
 'Chelford City Mun Util Dist,TX',
 'Lowell,MA',
 'Hawaii Cnty,HI',
 'Cook Cnty,IL',
 'Eagan,MN',
 'Durham Cnty,NC',
 'Manchester,NH',
 'Multnomah Cnty,OR',
 'Flowood,MS',
 'Rossford,OH',
 'Sioux Falls,SD',
 'Cheyenne,WY',
 "O'Fallon IL",
 'Avon,CT',
 'Burlington,VT',
 'Springfield,TN',
 'Laramie,WY',
 'Chicago Pk Dist,IL',
 'Prince Georges Cnty,MD',
 'Hamburg Boro,PA',
 'Washington Cnty,TN',
 'Marblehead Twn,MA',
 'Alcoa,TN',
 'Santa Fe Cnty,NM',
 'Adams Twp,MI',
 'King Cnty,WA',
 'Seattle,WA',
 'Nez Perce Cnty,ID',
 'Boston,MA',
 'Portland,ME',
 'Minot,ND',
 'Dallas Cnty Util & Reclamation Dist,TX',
 'Azusa,CA',
 'Bay Area Rapid Transit (BART),CA',
 'Ocean View,DE',
 'Tulsa,OK',
 'Auburn,WA',
 'Calhoun,GA',
 'Omaha,NE',
 'Petersburg,VA',
 'Fairbanks-North Star Boro,AK']

In [10]:
sorted(test_files)

['.ipynb_checkpoints',
 'Anchorage_AK_27613_G O Municipality & County_City_2017.pdf',
 'Angleton Danbury Hosp Dist_TX_15837_G O Municipality & County_Special District_2017.pdf',
 'Annapolis_MD_1784_G O Municipality & County_City_2018.pdf',
 'Ansonia_CT_300854_G O Municipality & County_City _2018.pdf',
 'Audubon Cnty_IA_303832_G O Municipality & County_County_2017.pdf',
 'Bath Charter Twp_MI_378353_G O Municipality & County_Town_2017.pdf',
 'Belmont Cnty_OH_13654_G O Municipality & County_County_2017.pdf',
 'Buford_GA_14231_G O Municipality & County_City _2016.pdf',
 'Burleigh Cnty_ND_10620_G O Municipality & County_County_2017.pdf',
 'Centerville City_UT_467721_G O Municipality & County_City _2018.pdf',
 'Chelan Cnty_WA_15594_G O Municipality & County_County_2017.pdf',
 'Clay Cnty_KS_475061_G O Municipality & County_County_2017.pdf',
 'Clay Twp_MI_345734_G O Municipality & County_Town_2018.pdf',
 'Commerce_CA_379093_G O Municipality & County_City_2018.pdf',
 'Cordova Rec and Park_CA_623440_G O Municipality & County_Special District_2017.pdf',
 'Crestview_FL_2916_G O Municipality & County_City_2017.pdf',
 'Denver City Cnty_CO_1025_G O Municipality & County_County_2017.pdf',
 'Dickinson_ND_12020_G O Municipality & County_City_2016.pdf',
 'Dodge City_KS_15059_G O Municipality & County_City _2017.pdf',
 'East Haddam_CT_12833_G O Municipality & County_Town_2018.pdf',
 'El Paso De Robles  aka Paso Robles _CA_17712_G O Municipality & County_City _2018.pdf',
 'Farmers Branch_TX_22559_G O Municipality & County_City_2018.pdf',
 'Fayetteville_AR_1499_G O Municipality & County_City_2017.pdf',
 'Fillmore Cnty_NE_491999_G O Municipality & County_County_2017.pdf',
 'Fond Du Lac_WI_6846_G O Municipality & County_City_2017.pdf',
 'Fredericksburg_VA_6586_G O Municipality & County_City _2018.pdf',
 'Garfield Township_MI_521870_G O Municipality & County_Town_2017.pdf',
 'Geneva County_AL_571349_G O Municipality & County_County_2017.pdf',
 'Grand Meadow_MN_490158_G O Municipality & County_City _2017.pdf',
 'Greenfield_MA_23202_G O Municipality & County_Town_2017.pdf',
 'Grundy Cnty_IL_362269_G O Municipality & County_County_2018.pdf',
 'Gwinnett Cnty_GA_9457_G O Municipality & County_County_2017.pdf',
 'Harris Cnty Mun Util Dist #168_TX_26773_G O Municipality & County_Special District_2018.Pdf.pdf',
 'Harris Cnty Mun Util Dist 354_TX_326743_G O Municipality & County_Special District_2017.pdf',
 'Hidalgo Cnty Dr Dist 1_TX_7635_G O Municipality & County_Special District_2017.pdf',
 'Hot Springs_SD_553948_G O Municipality & County_City _2017.pdf',
 'Ipswich Twn_MA_340179_G O Municipality & County_Town_2018.pdf',
 'Jeannette_PA_8612_G O Municipality & County_City _2016.pdf',
 'Jefferson Cnty  GO _AL_10928_G O Municipality & County_County_2017.pdf',
 'Joliet Pk Dist_IL_12617_G O Municipality & County_Special District_2017.pdf',
 'Jones Cnty_MS_21281_G O Municipality & County_County_2017.pdf',
 'Kalispell _MT_361330_G O Municipality & County_City _2018.pdf',
 'Killingly Twn_CT_550_G O Municipality & County_Town_2017.pdf',
 'Kitsap Cnty_WA_11962_G O Municipality & County_County_2017.pdf',
 'La Paz Cnty_AZ_372467_G O Municipality & County_County_2017.pdf',
 'Lake Benton_MN_23324_G O Municipality & County_City _2017.pdf',
 'Las Cruces_NM_2956_G O Municipality & County_City _2018.pdf',
 'Mason Creek Util Dist_TX_7162_G O Municipality & County_Special District_2018.pdf',
 'Milpitas_CA_344039_G O Municipality & County_City_2018.pdf',
 'Minneapolis_KS_523347_G O Municipality & County_City _2017.pdf',
 'Moscow_ID_326597_G O Municipality & County_City _2017.pdf',
 'NOVATO_CA_20829_G O Municipality & County_City _2017.pdf',
 'Nassau Cnty_NY_3677_G O Municipality & County_County_2017.pdf',
 'Ocean City_NJ_4115_G O Municipality & County_City_2017.pdf',
 'Oro Vy_AZ_20742_G O Municipality & County_Town_2017.pdf',
 'Pima Cnty_AZ_1422_G O Municipality & County_County_2018.pdf',
 'Pine Bluff_AR_14783_G O Municipality & County_City _2017.pdf',
 'Plaquemine_LA_322719_G O Municipality & County_City _2017.pdf',
 'Pleasant Grove_UT_27947_G O Municipality & County_City _2018.pdf',
 'Pointe Coupee Parish_LA_14599_G O Municipality & County_County_2017.pdf',
 'Providence_RI_7947_G O Municipality & County_City_2018.pdf',
 'Rawlins County_KS_494151_G O Municipality & County_County_2016.pdf',
 'Red Oak_TX_13782_G O Municipality & County_City_2017.pdf',
 'Reno_NV_4397_G O Municipality & County_City_2018.pdf',
 'River Trails Pk Dist_IL_347152_G O Municipality & County_Special District_2017.pdf',
 'Salem_NH_12414_G O Municipality & County_Town_2017.pdf',
 'Sea Isle City_NJ_10889_G O Municipality & County_City_2017.pdf',
 'Seguin_TX_11139_G O Municipality & County_City_2018.pdf',
 'Sharon_PA_26199_G O Municipality & County_City_2017.pdf',
 'Shelby Cnty_AL_21033_G O Municipality & County_County_2017.pdf',
 'Shell Rock River Watershed District_MN_607184_G O Municipality & County_Special District_2017.pdf',
 'Smithfield_RI_7948_G O Municipality & County_Town_2018.pdf',
 'Snoqualmie_WA_367048_G O Municipality & County_City_2017.pdf',
 'South Florida Wtr Mgt Dist_FL_13376_G O Municipality & County_Special District_2017.pdf',
 'Spring Creek Utility District_TX_322417_G O Municipality & County_Special District_2018.pdf',
 'St Johns Cnty_FL_2840_G O Municipality & County_County_2017.pdf',
 'St Louis Regl Arpt Auth_IL_333960_G O Municipality & County_Special District_2018.pdf',
 'St. Bernard Parish_LA_89_G O Municipality & County_County_2017.pdf',
 'Ste. Genevieve_MO_321475_G O Municipality & County_City _2017.pdf',
 'Stone County_MO_326056_G O Municipality & County_County_2016.pdf',
 'Summerdale_AL_405045_G O Municipality & County_City_2017.pdf',
 'Summit Cnty_OH_5816_G O Municipality & County_County_2017.pdf',
 'Surry Cnty_NC_3385_G O Municipality & County_County_2018.pdf',
 'Sussex Cnty_DE_13218_G O Municipality & County_County_2018.pdf',
 'Sweetwater Cnty_WY_15662_G O Municipality & County_County_2017.pdf',
 'Talladega_AL_8999_G O Municipality & County_City_2017.pdf',
 'Tamarac_FL_10088_G O Municipality & County_City_2018.pdf',
 'Texarkana_AR_2518_G O Municipality & County_City_2017.pdf',
 'Travis Cnty Mun Util Dist No.11_TX_557386_G O Municipality & County_special District_2018.Pdf.pdf',
 'Utah Cnty_UT_16030_G O Municipality & County_County_2017.pdf',
 'Utica City_VT_17524_G O Municipality & County_City_2018.pdf',
 'Valdez_AK_1129_G O Municipality & County_City_2017.pdf',
 'Virginia Peninsula Regl Jail Auth_VA_303122_G O Municipality & County_Special District_2017.pdf',
 'Wadsworth_OH_25271_G O Municipality & County_City _2017.pdf',
 'Wallace County_KS_485563_G O Municipality & County_County_2017.pdf',
 'Williamson Cnty Mun Util Dist 11_TX_479501_G O Municipality & County_special District_2018.pdf',
 'Woods Cross_UT_20994_G O Municipality & County_City_2018.pdf',
 'Yonkers_NY_3562_G O Municipality & County_City _2018.pdf']

In [52]:
test_files.remove('.ipynb_checkpoints')

In [12]:
data = list(map(lambda x : x.strip().lower(), [x for x in parser.from_file('Test Data/' + test_files[0])['content'].split('\n') if x!='' and x!=' ']))

2019-08-12 18:12:16,163 [MainThread  ] [WARNI]  Failed to see startup log message; retrying...
WARNING: Logging before flag parsing goes to stderr.
W0812 18:12:16.163763 140593655926912 tika.py:658] Failed to see startup log message; retrying...

In [13]:
'basis' in data

False

In [14]:
for i in data:
    if 'net pension liability' in i:
        print(i)
        
# for i in range(len(data)):
#     if 'pension plan' in data[i]:
#         print(i)

schedule of city’s proportionate share of general net pension liability 55
schedule of city’s proportionate share of police and fire net pension liability                            57
net pension liability 134,251 45,964 180,215
net pension liability is not due and payable in the current
net pension liability 32,175 13,789 -- 45,964
for purposes of measuring the net pension liability, deferred outflows/inflows of resources
net pension liability 342,748  23,132  231,629  134,251  0
net pension liability 60,895  6,931  21,863  45,963  0
the general employees fund’s net pension liability. the city’s net pension liability reflected
proportionate share of the net pension liability associated with the city totaled $1,953. the
net pension liability was measured as of june 30, 2017, and the total pension liability used to
calculate the net pension liability was determined by an actuarial valuation as of that date.
the city’s proportion of the net pension liability was based on the city’s contributions
the net pension liability in the year ended december 31, 2018. other amounts reported as
police and fire fund’s net pension liability.  the net pension liability was measured as of june
30, 2017, and the total pension liability used to calculate the net pension liability was determined
by an actuarial valuation as of that date.  the city’s proportion of the net pension liability was
and an offsetting reduction of net pension liability for its proportionate share of the state of
the following presents the city’s proportionate share of the net pension liability for all plans
well as what the city’s proportionate share of the net pension liability would be if it were
sensitivity of net pension liability at current single discount rate (in thousands)
fiscal year net pension liability share (amount) of the net net pension liability proportionate share of the covered-employee percentage of its covered- percentage of the
ending (asset) pension liability (asset) (a) associated with the city (b) net pension liability (a+b) payroll (c) employee payroll ((a+b)/c) total pension liability
schedule of city's proportionate share of net pension liability
schedule of city's proportionate share of net pension liability

In [14]:
account= ''
expense = ''

## First Detecting Account

In [15]:
check = test_files[0]

In [16]:
for i in data:
    if 'basis of accounting' in i:
        tmp = i.find('basis of accounting')
        first = 0; last = 0;
        if tmp - 50<0: #Checking for desired keyword in first and last 50 characters from the tmp
            first = 0
        else:
            first = tmp - 50
        
        if tmp+50 > len(i)-1:
            last = len(i) - 1
        else:
            last = tmp+50
            
        if 'modified accrual' in i[first:tmp] or 'modified accrual' in i[tmp:last]:
            account = 'Modified Accrual'
            break
        elif 'modified cash' in i[first:tmp] or 'modified cash' in i[tmp:last]:
            account = 'Modified Cash'
            break
        elif 'accrual' in i[first:tmp] or 'accrual' in i[tmp:last]:
            account = 'Accrual'
            break
        elif 'cash' in i[first:tmp] or 'cash' in i[tmp:last]:
            account = 'Cash'
            break
        elif 'regulatory' in i[first:tmp] or 'regulatory' in i[tmp:last]:
            account = 'Regulatory'
            break
        else:
            account = '0'
print(account)

Accrual

## Now detecting Balance Sheet Cash

In [20]:
stack = []
upto = 0
bills = []; curr = [];

def isblank (myString):
    if myString and myString.strip():
        #myString is not None AND myString is not empty or blank
        return False
    #myString is None OR myString is empty or blank
    return True

#For extracting money from the possible section of document
def amount(stack):
    temp = 0
    target = ''
    stack = list(map(lambda x: x.split(' '), stack))
    for i in range(len(stack)):
        stack[i] = list(map(lambda x: x.strip(string.punctuation+' '), stack[i]))
        stack[i] = ' '.join(stack[i]).split() #For removing extra blank characters
        for j in range(len(stack[i])):
            if len(stack[i][j].split(',')) > 1:
                var = stack[i][j].split(',')
                for k in range(len(var)):
                    try:
                        int(var[k])
                        target =  target + var[k] #Trying to avoid using spacy for detecting number here, for unknown scenario reasons
                    except:
                        break
                                               
                        
        if isblank(target):
            pass
        else:
            return int(target)





for i in range(len(data)-1):
#     print(i)
    #First detecting if we've all the 4 keywords
    if 'balance' in data[i]:
        if 'sheet' in data[i]:
            if 'government' in data[i]:
                if 'fund' in data[i]:
                    stack = data[i:i+30]
                    expense = amount(stack)
#                     print("Expense", expense)
                    if expense != None and expense != 0:
#                         print('Four executing')
                        del data[i:i+30]
                        break
                    else:
                        pass
    elif 'balance sheet' in data[i]:
#         print("Second executing")
        expense = amount(stack)
        if expense != None and expense != 0:
            del data[i:i+30]
            break
        else:
            pass
print(expense)

### Now Pension plan 1,2 name

In [15]:
nlp = spacy.load('en_core_web_sm')

In [177]:
b1name = None; b2name =  None; del1 = 0
b1amt = ''; b2amt = '';
b1date =  None; b2date =  None;

In [178]:
doc = nlp("Next week I'll   be in Madrid, which means on 1/12/22, 2019")
for token in doc:
    print("{0}\t{1}\t{2}\t{3}\t{4}\t{5}\t{6}\t{7}".format(
        token.text,
        token.idx,
        token.lemma_,
        token.is_punct,
        token.is_space,
        token.shape_,
        token.pos_,
        token.tag_        
    ))
    
for ent in doc.ents:
    if ent.label_ == 'DATE':
        print(ent.text)
        break

Next	0	next	False	False	Xxxx	ADJ	JJ
week	5	week	False	False	xxxx	NOUN	NN
I	10	-PRON-	False	False	X	PRON	PRP
'll	11	will	False	False	'xx	AUX	MD
  	15	  	False	True	  	SPACE	_SP
be	17	be	False	False	xx	VERB	VB
in	20	in	False	False	xx	ADP	IN
Madrid	23	Madrid	False	False	Xxxxx	PROPN	NNP
,	29	,	True	False	,	PUNCT	,
which	31	which	False	False	xxxx	DET	WDT
means	37	mean	False	False	xxxx	VERB	VBZ
on	43	on	False	False	xx	ADP	IN
1/12/22	46	1/12/22	False	False	d/dd/dd	NUM	CD
,	53	,	True	False	,	PUNCT	,
2019	55	2019	False	False	dddd	NUM	CD
Next week

In [179]:
','.join(data[0:5])

'draft again 2.xls,annual financial report,for the year ended,december 31, 2017,kinner & company ltd'

In [180]:
data = list(map(lambda x : x.strip().lower(), [x for x in parser.from_file('Test Data/' + test_files[0])['content'].split('\n') if x!='' and x!=' ']))

## Pension 1

In [181]:
for i in range(len(data)): # This is for detecting pension plan1 name and date
#     print(i)
    if 'pension plan' in data[i]:
#         print(data[i])
        tmp = data[i].split(' ')
        tmp = ' '.join(tmp).split() 
#         print(tmp)
#         print('*'*100)

        for j in range(len(tmp)):
            if tmp[j]=='plan':
                doc = nlp(data[i])
                for token in range(len(doc)):
                    if doc[token].text == 'plan':
                        try:
#                             print(doc[token+1])
#                             print(token, len(doc), "im doing exp")
                            if doc[token+1].pos_=='NOUN':
                                b1name = doc[token+1].text
                                stack = ','.join(data[i:i+10])
                                test = nlp(str(stack))
                                for ent in test.ents:
                                    if ent.label_ =='DATE':
                                        b1date = ent.text
                                        break
                                
                                
                        except:
                            print("next token was over the top")
               

    if b1name != None and b1date != None:
        print("Deleting", i, "to", i+10) #Because don't wanna use it again!!
        del data[i:i+10]
        break

# Now to detect pension plan 1 number
large = -100
todel = 0
b1amt = ''
for i in range(len(data)):
    if 'net' in data[i]:
        if 'pension' in data[i]:
            if 'liability' in data[i]:
               
#                 print(data[i])
#                 print('*' * 100)
                tmp = data[i].split(' ')
                tmp = ' '.join(tmp).split() 
#                 print(" wanna see tmp too", tmp)
                for j in range(len(tmp)):
                    b1amt = ''
#                     if len(tmp[j].split(',')) > 1:                     # if len(' '.join('liability,'.split(',')).split()) > 1:
                    if len(' '.join(tmp[j].split(',')).split()) > 1:
#                         print(tmp[j])
#                         print('*' * 100)
                        broke = ' '.join(tmp[j].split(',')).split()
                        
#                         print("This is broke", broke)
#                         print('~' * 100)
                        for k in range(len(broke)):
                            try:
                                int(broke[k])
#                                 print("Int happened")
                                b1amt = b1amt + broke[k]
#                                 print("This is b1amt", b1amt)
                            except:
                                break
                        try:
                            if float(b1amt) > large:
                                large = int(b1amt)
                                todel = i
                        except:
                            print("This instance, wasn't good", b1amt)


b1amt = large
del data[todel]
        
        
print("This is the pension plan 1 name", b1name)
print("This is the pension plan 1 date", b1date)
print("This is the net liability money", b1amt)
print("Todel deleted was: ",todel)

next token was over the top
Deleting 1948 to 1958
This instance, wasn't good
This is the pension plan 1 name investments
This is the pension plan 1 date december 31
This is the net liability money 342748
Todel deleted was:  1722

## Pension 2

In [182]:
for i in range(len(data)): # This is for detecting pension plan1 name and date
    if 'pension plan' in data[i]:
        tmp = data[i].split(' ')
        tmp = ' '.join(tmp).split() 
        for j in range(len(tmp)):
            if tmp[j]=='plan':
                doc = nlp(data[i])
                for token in range(len(doc)):
                    if doc[token].text == 'plan':
                        try:
                            if doc[token+1].pos_=='NOUN':
                                b2name = doc[token+1].text
                                stack = ','.join(data[i:i+10])
                                test = nlp(str(stack))
                                for ent in test.ents:
                                    if ent.label_ =='DATE':
                                        b2date = ent.text
                                        break

                        except:
                            print("next token was over the top")
               

    if b2name != None and b2date != None:
        print("Deleting", i, "to", i+10) #Because don't wanna use it again, for pension plan 2!!
        del data[i:i+10]
        break

# Now to detect pension plan 1 number
large = -100
todel = 0
b2amt = ''
for i in range(len(data)):
    if 'net' in data[i]:
        if 'pension' in data[i]:
            if 'liability' in data[i]:
                tmp = data[i].split(' ')
                tmp = ' '.join(tmp).split() 
                for j in range(len(tmp)):
                    b2amt = ''
                    if len(' '.join(tmp[j].split(',')).split()) > 1:
                        broke = ' '.join(tmp[j].split(',')).split()
                        for k in range(len(broke)):
                            try:
                                int(broke[k])
                                b2amt = b2amt + broke[k]
                            except:
                                break
                        try:
                            if float(b2amt) > large:
                                large = int(b2amt)
                                todel = i
                        except:
                            print("This instance, wasn't good", b2amt)


b2amt = large
        
        
print("This is the pension plan 2 name", b2name)
print("This is the pension plan 2 date", b2date)
print("This is the net liability money", b2amt)

next token was over the top
Deleting 1994 to 2004
This instance, wasn't good
This is the pension plan 2 name investments
This is the pension plan 2 date the year ended december 31, 2018
This is the net liability money 180215

### Finally combining all of em into one function, and applying for all the test data set

In [16]:
len(os.listdir('Test Data/'))

99

In [55]:
pdf_names = test_files.copy()

In [56]:
test_files = list(map(lambda x: x.split('_')[0], test_files))

In [57]:
minn = 1000
array = np.zeros(len(test_files))
for i in range(len(test_files)):
    minn = 1000
    for j in range(len(result['Credit Name'])):
        if nltk.edit_distance(result.iloc[j]['Credit Name'], test_files[i]) < minn:
            minn = nltk.edit_distance(result.iloc[j]['Credit Name'], test_files[i]) 
            array[i] = j

In [58]:
account

'Modified Accrual'

In [59]:
result.loc[2]['Accounting Basis'] = account

/usr/local/lib/python3.5/site-packages/tensorflow/python/keras/api/_v1/keras/models/__init__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This file is MACHINE GENERATED! Do not edit.

In [60]:
for index in range(len(test_files)):
    try:
        data = list(map(lambda x : x.strip().lower(), [x for x in parser.from_file('Test Data/' + pdf_names[index])['content'].split('\n') if x!='' and x!=' ']))
        
        account= ''
        expense = ''
        #First detecting basis of accounting
        for i in data:
            if 'basis of accounting' in i:
                tmp = i.find('basis of accounting')
                first = 0; last = 0;
                if tmp - 50<0: #Checking for desired keyword in first and last 50 characters from the tmp
                    first = 0
                else:
                    first = tmp - 50

                if tmp+50 > len(i)-1:
                    last = len(i) - 1
                else:
                    last = tmp+50

                if 'modified accrual' in i[first:tmp] or 'modified accrual' in i[tmp:last]:
                    account = 'Modified Accrual'
                    break
                elif 'modified cash' in i[first:tmp] or 'modified cash' in i[tmp:last]:
                    account = 'Modified Cash'
                    break
                elif 'accrual' in i[first:tmp] or 'accrual' in i[tmp:last]:
                    account = 'Accrual'
                    break
                elif 'cash' in i[first:tmp] or 'cash' in i[tmp:last]:
                    account = 'Cash'
                    break
                elif 'regulatory' in i[first:tmp] or 'regulatory' in i[tmp:last]:
                    account = 'Regulatory'
                    break
                else:
                    account = '0'
                    
        #Now tryna detect Bank balance governmental funds
        stack = []
        upto = 0
        bills = []; curr = [];

        def isblank (myString):
            if myString and myString.strip():
                #myString is not None AND myString is not empty or blank
                return False
            #myString is None OR myString is empty or blank
            return True

        #For extracting money from the possible section of document
        def amount(stack):
            temp = 0
            target = ''
            stack = list(map(lambda x: x.split(' '), stack))
            for i in range(len(stack)):
                stack[i] = list(map(lambda x: x.strip(string.punctuation+' '), stack[i]))
                stack[i] = ' '.join(stack[i]).split() #For removing extra blank characters
                for j in range(len(stack[i])):
                    if len(stack[i][j].split(',')) > 1:
                        var = stack[i][j].split(',')
                        for k in range(len(var)):
                            try:
                                int(var[k])
                                target =  target + var[k] #Trying to avoid using spacy for detecting number here, for unknown scenario reasons
                            except:
                                break


                if isblank(target):
                    pass
                else:
                    return int(target)





        for i in range(len(data)-1):
        #     print(i)
            #First detecting if we've all the 4 keywords
            if 'balance' in data[i]:
                if 'sheet' in data[i]:
                    if 'government' in data[i]:
                        if 'fund' in data[i]:
                            stack = data[i:i+30]
                            expense = amount(stack)
        #                     print("Expense", expense)
                            if expense != None and expense != 0:
        #                         print('Four executing')
                                del data[i:i+30]
                                break
                            else:
                                pass
            elif 'balance sheet' in data[i]:
        #         print("Second executing")
                expense = amount(stack)
                if expense != None and expense != 0:
                    del data[i:i+30]
                    break
                else:
                    pass
                
                
        b1name = None; b2name =  None; del1 = 0
        b1amt = ''; b2amt = '';
        b1date =  None; b2date =  None;
        
        for i in range(len(data)): # This is for detecting pension plan1 name and date
            if 'pension plan' in data[i]:
                tmp = data[i].split(' ')
                tmp = ' '.join(tmp).split() 
                for j in range(len(tmp)):
                    if tmp[j]=='plan':
                        doc = nlp(data[i])
                        for token in range(len(doc)):
                            if doc[token].text == 'plan':
                                try:
                                    if doc[token+1].pos_=='NOUN':
                                        b1name = doc[token+1].text
                                        stack = ','.join(data[i:i+10])
                                        test = nlp(str(stack))
                                        for ent in test.ents:
                                            if ent.label_ =='DATE':
                                                b1date = ent.text
                                                break
                                except:
                                    pass
#                                     print("next token was over the top")


            if b1name != None and b1date != None:
#                 print("Deleting", i, "to", i+10) #Because don't wanna use it again!!
                del data[i:i+10]
                break

        # Now to detect pension plan 1 number
        large = -100
        todel = 0
        b1amt = ''
        for i in range(len(data)):
            if 'net' in data[i]:
                if 'pension' in data[i]:
                    if 'liability' in data[i]:
                        tmp = data[i].split(' ')
                        tmp = ' '.join(tmp).split() 
                        for j in range(len(tmp)):
                            b1amt = ''
                            if len(' '.join(tmp[j].split(',')).split()) > 1:
                                broke = ' '.join(tmp[j].split(',')).split()
                                for k in range(len(broke)):
                                    try:
                                        int(broke[k])
                                        b1amt = b1amt + broke[k]
                                    except:
                                        break
                                try:
                                    if float(b1amt) > large:
                                        large = int(b1amt)
                                        todel = i
                                except:
                                    pass
#                                     print("This instance, wasn't good", b1amt)


        b1amt = large
        del data[todel]
        
        result['Accounting Basis'][array[index]] = account
        result['Balance Sheet Cash'][array[index]] = expense
        result['Pension Plan 1 Name'][array[index]] = b1name
        result['Pension Plan 1 Total Pension Liability'][array[index]] = b1amt
        result['Pension Plan 1 Measurement Date'] = b1date
        result['Pension Plan 2 Name'][array[index]] = b2name
        result['Pension Plan 2 Measurement Date'][array[index]] = b2date
        result['Pension Plan 2 Total Pension Liability'][array[index]] = b2amt

        
    except:
        print("Pdf file was image: ", pdf_names[index])

/usr/local/lib/python3.5/site-packages/tensorflow/python/keras/api/_v1/keras/models/__init__.py:170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/site-packages/tensorflow/python/keras/api/_v1/keras/models/__init__.py:171: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/site-packages/tensorflow/python/keras/api/_v1/keras/models/__init__.py:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/site-packages/tensorflow/python/keras/api/_v1/keras/models/__init__.py:173: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/site-packages/tensorflow/python/keras/api/_v1/keras/models/__init__.py:175: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/site-packages/tensorflow/python/keras/api/_v1/keras/models/__init__.py:176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/site-packages/tensorflow/python/keras/api/_v1/keras/models/__init__.py:177: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Pdf file was image:  Wallace County_KS_485563_G O Municipality & County_County_2017.pdf
Pdf file was image:  Rawlins County_KS_494151_G O Municipality & County_County_2016.pdf
Pdf file was image:  St Louis Regl Arpt Auth_IL_333960_G O Municipality & County_Special District_2018.pdf
Pdf file was image:  Shell Rock River Watershed District_MN_607184_G O Municipality & County_Special District_2017.pdf
Pdf file was image:  Jeannette_PA_8612_G O Municipality & County_City _2016.pdf

In [61]:
copy = result.copy()

In [62]:
result.fillna(method='ffill', inplace=True)
result.fillna(method='bfill', inplace=True)
result.fi

In [45]:
result.to_csv('results.csv', index=None)

In [63]:
result

,For Lookup,Year,Credit Name,State,Security ID,Org ID,FYE,Accounting Basis,Pension Plan 1 Name,Pension Plan 1 Measurement Date,Pension Plan 1 Total Pension Liability,Balance Sheet Cash,Pension Plan 2 Name,Pension Plan 2 Measurement Date,Pension Plan 2 Total Pension Liability
0,1013737_2016,2016,Jeannette,PA,1013737,8612,31/12/2016,0,investment,"the year ended june 30, 2019",-100.0,,NaN,NaN,
1,1028564_2016,2016,Dickinson,ND,1028564,12020,31/12/2016,0,investment,"the year ended june 30, 2019",-100.0,,NaN,NaN,
2,711506_2016,2016,Rawlins County,KS,711506,494151,31/12/2016,0,investment,"the year ended june 30, 2019",-100.0,,NaN,NaN,
3,702336_2016,2016,Stone County,MO,702336,326056,31/12/2016,Regulatory,investment,"the year ended june 30, 2019",2775.0,,NaN,NaN,
4,1029684_2017,2017,Anchorage,AK,1029684,27613,31/12/2017,Modified Accrual,investments,"the year ended june 30, 2019",370507296.0,325282349,NaN,NaN,
5,1013820_2017,2017,Belmont Cnty,OH,1013820,13654,31/12/2017,Cash,investments,"the year ended june 30, 2019",43628374.0,6883377063721535617530481791197500907471900654,NaN,NaN,
6,706646_2017,2017,Fayetteville,AR,706646,1499,31/12/2017,Accrual,assets,"the year ended june 30, 2019",570530522.0,73580,NaN,NaN,
7,703974_2017,2017,Hidalgo Cnty Dr Dist #1,TX,703974,7635,31/12/2017,Accrual,turnover,"the year ended june 30, 2019",1276495.0,10260673516219627732780,NaN,NaN,
8,1002782_2017,2017,Jones Cnty,MS,1002782,21281,30/09/2017,Accrual,investments,"the year ended june 30, 2019",48136417.0,251383111445467331149361399,NaN,NaN,
9,700302_2017,2017,Nassau Cnty,NY,700302,3677,31/12/2017,Accrual,investments,"the year ended june 30, 2019",551733.0,355923,NaN,NaN,
10,701354_2017,2017,Novato,CA,701354,20829,30/06/2017,Accrual,investment,"the year ended june 30, 2019",21698548.0,83265059,NaN,NaN,
11,703751_2017,2017,Ocean City,NJ,703751,4115,31/12/2017,Regulatory,investments,"the year ended june 30, 2019",73413.0,,NaN,NaN,
12,708865_2017,2017,Shelby Cnty,AL,708865,21033,30/09/2017,Accrual,investment,"the year ended june 30, 2019",10728544.0,71685,NaN,NaN,
13,707682_2017,2017,Summit Cnty,OH,707682,5816,31/12/2017,Accrual,investments,"the year ended june 30, 2019",262847093.0,71685,NaN,NaN,
14,1025501_2017,2017,Chelan Cnty,WA,1025501,15594,31/12/2017,Modified Accrual,investments,"the year ended june 30, 2019",21561858.0,104640791,NaN,NaN,
15,701055_2017,2017,Utah Cnty,UT,701055,16030,31/12/2017,Accrual,investment,"the year ended june 30, 2019",34824628.0,318709751366802745539992,NaN,NaN,
16,700083_2017,2017,Valdez,AK,700083,1129,31/12/2017,Accrual,investment,"the year ended june 30, 2019",18945626.0,381005352,NaN,NaN,
17,711004_2017,2017,Joliet Pk Dist,IL,711004,12617,31/12/2017,Modified Cash,investments,"the year ended june 30, 2019",6258240.0,9265321,NaN,NaN,
18,1028599_2017,2017,Pointe Coupee Parish,LA,1028599,14599,31/12/2017,Accrual,measurement,"the year ended june 30, 2019",889067.0,9265321,NaN,NaN,
19,700148_2017,2017,St Johns Cnty,FL,700148,2840,30/09/2017,Accrual,investments,"the year ended june 30, 2019",8007045.0,1139179513583762519930295024160667956906282,NaN,NaN,
20,711672_2017,2017,Gwinnett Cnty,GA,711672,9457,31/12/2017,Accrual,management,"the year ended june 30, 2019",398477692.0,1063473,NaN,NaN,
21,712218_2017,2017,Virginia Peninsula Regl Jail Auth,VA,712218,303122,30/06/2017,Accrual,investment,"the year ended june 30, 2019",1309077.0,45280784528078,NaN,NaN,
22,705855_2017,2017,River Trails Pk Dist,IL,705855,347152,31/12/2017,Accrual,description,"the year ended june 30, 2019",2231692.0,13779,NaN,NaN,
23,1028607_2017,2017,St. Bernard Parish,LA,1028607,89,31/12/2017,Accrual,investments,"the year ended june 30, 2019",20020467.0,312017,NaN,NaN,
24,1028551_2017,2017,Texarkana,AR,1028551,2518,31/12/2017,Accrual,investments,"the year ended june 30, 2019",26290307.0,312017,NaN,NaN,
25,702813_2017,2017,Snoqualmie,WA,702813,367048,31/12/2017,Regulatory,investments,"the year ended june 30, 2019",-100.0,,NaN,NaN,
26,1001757_2017,2017,Moscow,ID,1001757,326597,30/09/2017,Modified Accrual,pension,"the year ended june 30, 2019",10261000.0,16202997,NaN,NaN,
27,706877_2017,2017,Jefferson Cnty,WA,706877,329986,31/12/2017,,expense,"the year ended june 30, 2019",-100.0,,NaN,NaN,
28,705657_2017,2017,Harris Cnty Mun Util Dist #354,TX,705657,326743,31/12/2017,Accrual,expense,"the year ended june 30, 2019",-100.0,56703805794676,NaN,NaN,
29,700565_2017,2017,Fond Du Lac,WI,700565,6846,31/12/2017,Accrual,provisions,"the year ended june 30, 2019",3173677.0,229341876,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,760019_2018,2018,Tamarac,FL,760019,10088,30/09/2018,Modified Accrual,investments,"the year ended june 30, 2019",21939717.0,10005000,NaN,NaN,
69,1024660_2018,2018,Seguin,TX,1024660,11139,30/09/2018,Modified Accrual,investments,"the year ended june 30, 2019",29678251.0,10005000,NaN,NaN,
70,1025320_2018,2018,Farmers Branch,TX,1025320,22559,30/09/2018,Accrual,investments,"the year ended june 30, 2019",33392477.0,18641264125805110315765108998061635902657473912,NaN,NaN,
71,705281_2018,2018,Harris Cnty Mun Util Dist #168,TX,705281,26773,30/09/2018,Accrual,investments,"the year ended june 30, 2019",-100.0,13929327,NaN,NaN,
72,700529_2018,2018,Fredericksburg,VA,700529,6586,30/06/2018,Modified Accrual,data,"the year ended june 30, 2019",53012000.0,153277218427371704,NaN,NaN,
73,1000162_2018,2018,Mason Creek Util Dist,TX,1000162,7162,30/06/2018,Modified Accrual,data,"the year ended june 30, 2019",-100.0,16723059,NaN,NaN,
74,740041_2018,2018,Providence,RI,740041,7947,30/06/2018,Accrual,data,"the year ended june 30, 2019",-100.0,,NaN,NaN,
75,702545_2018,2018,Milpitas,CA,702545,344039,30/06/2018,Accrual,investment,"the year ended june 30, 2019",31538718.0,,NaN,NaN,
76,701902_2018,2018,Pleasant Grove,UT,701902,27947,30/06/2018,Accrual,investments,"the year ended june 30, 2019",2489240.0,7975313248134584052344090711738888,NaN,NaN,
77,1001850_2018,2018,Commerce,CA,1001850,379093,30/06/2018,Modified Accrual,investments,"the year ended june 30, 2019",30403238.0,7253185523927741810447,NaN,NaN,
78,705723_2018,2018,St Louis Regl Arpt Auth,IL,705723,333960,31/05/2018,Modified Accrual,investments,"the year ended june 30, 2019",30403238.0,7253185523927741810447,NaN,NaN,
79,1004544_2018,2018,Kalispell,MT,1004544,361330,30/06/2018,Modified Accrual,inv,"the year ended june 30, 2019",13405679.0,87173867081802124174917040937340727,NaN,NaN,
80,702766_2018,2018,Grundy Cnty,IL,702766,362269,30/11/2018,Modified Cash,investments,"the year ended june 30, 2019",8071315.0,,NaN,NaN,
81,705625_2018,2018,Spring Creek Util Dist,TX,705625,322417,30/04/2018,Accrual,investments,"the year ended june 30, 2019",-100.0,660205033789503465422054881387598113875981,NaN,NaN,
82,706557_2018,2018,Williamson Cnty Mun Util Dist #11,TX,706557,479501,28/02/2018,Cash,investments,"the year ended june 30, 2019",-100.0,55758975270669305228,NaN,NaN,
83,1008786_2018,2018,Travis Cnty Mun Util Dist No.11,TX,1008786,557386,31/03/2018,Cash,investments,"the year ended june 30, 2019",-100.0,66968296001203,NaN,NaN,
84,1028560_2018,2018,Woods Cross,UT,1028560,20994,30/06/2018,Accrual,investments,"the year ended june 30, 2019",827643.0,39123468,NaN,NaN,
85,1028966_2018,2018,Centerville City,UT,1028966,467721,30/06/2018,Accrual,investment,"the year ended june 30, 2019",2609476.0,496806226816415592140051153219,NaN,NaN,
86,1022225_2016,2016,Buford,GA,1022225,14231,6/30/2016,Accrual,investments,"the year ended june 30, 2019",26228911.0,58850265,NaN,NaN,
87,1002208_2017,2017,Kitsap Cnty,WA,1002208,11962,12/31/2017,Accrual,investments,"the year ended june 30, 2019",54193658.0,31,NaN,NaN,
88,1000598_2017,2017,Oro Vy,AZ,1000598,20742,6/30/2017,Accrual,investments,"the year ended june 30, 2019",38596717.0,23209974,NaN,NaN,
89,741039_2017,2017,Denver City & Cnty,CO,741039,1025,12/31/2017,0,investments,"the year ended june 30, 2019",1211896.0,79329040,NaN,NaN,
90,1028680_2017,2017,Plaquemine,LA,1028680,322719,10/31/2017,Accrual,investments,"the year ended june 30, 2019",1782803.0,41158026,NaN,NaN,
91,741059_2018,2018,Pima Cnty,AZ,741059,1422,6/30/2018,Accrual,description,"the year ended june 30, 2019",90478.0,110655158595454597751371546,NaN,NaN,
92,701136_2018,2018,Utica,NY,701136,17524,3/31/2018,Accrual,description,"the year ended june 30, 2019",90478.0,110655158595454597751371546,NaN,NaN,
93,700267_2018,2018,Yonkers,NY,700267,3562,6/30/2018,Accrual,investment,"the year ended june 30, 2019",234890826.0,124237,NaN,NaN,
94,1033775_2018,2018,Las Cruces,NM,1033775,2956,6/30/2018,Accrual,investments,"the year ended june 30, 2019",125068041.0,306843305456807385252403,NaN,NaN,
95,710883_2018,2018,Clay Twp,MI,710883,345734,6/30/2018,Accrual,investments,"the year ended june 30, 2019",3374274.0,306843305456807385252403,NaN,NaN,
96,1025297_2018,2018,Ipswich Twn,MA,1025297,340179,6/30/2018,Accrual,investments,"the year ended june 30, 2019",473500765.0,5243319448182248,NaN,NaN,
97,700889_2018,2018,East Haddam,CT,700889,12833,6/30/2018,Accrual,investment,"the year ended june 30, 2019",31090473.0,282754411786478,NaN,NaN,

In [225]:
for i in range(len(test_files)):
    print("Matching done was: ", test_files[i], "to", result.iloc[int(array[i])]['Credit Name'])

Matching done was:  Lake Benton to Lake Benton
Matching done was:  Texarkana to Texarkana
Matching done was:  Ipswich Twn to Ipswich Twn
Matching done was:  Ste. Genevieve to Ste. Genevieve
Matching done was:  Fayetteville to Fayetteville
Matching done was:  Wallace County to Wallace County
Matching done was:  Pleasant Grove to Pleasant Grove
Matching done was:  Talladega to Talladega
Matching done was:  Fillmore Cnty to Fillmore Cnty
Matching done was:  Red Oak to Red Oak
Matching done was:  Harris Cnty Mun Util Dist #168 to Harris Cnty Mun Util Dist #168
Matching done was:  Anchorage to Anchorage
Matching done was:  Utica City to Utah Cnty
Matching done was:  Sharon to Sharon
Matching done was:  Clay Cnty to Clay Cnty
Matching done was:  Audubon Cnty to Audubon Cnty
Matching done was:  Cordova Rec and Park to Cordova Rec & Park
Matching done was:  Ansonia to Ansonia
Matching done was:  St Johns Cnty to St Johns Cnty
Matching done was:  Kitsap Cnty to Kitsap Cnty
Matching done was:  Seguin to Seguin
Matching done was:  Milpitas to Milpitas
Matching done was:  Pima Cnty to Pima Cnty
Matching done was:  Fond Du Lac to Fond Du Lac
Matching done was:  Minneapolis to Minneapolis
Matching done was:  Ocean City to Ocean City
Matching done was:  Mason Creek Util Dist to Mason Creek Util Dist
Matching done was:  Utah Cnty to Utah Cnty
Matching done was:  Shelby Cnty to Shelby Cnty
Matching done was:  Nassau Cnty to Nassau Cnty
Matching done was:  Providence to Providence
Matching done was:  Angleton Danbury Hosp Dist to Angleton-Danbury Hosp Dist
Matching done was:  Summit Cnty to Summit Cnty
Matching done was:  East Haddam to East Haddam
Matching done was:  Woods Cross to Woods Cross
Matching done was:  Belmont Cnty to Belmont Cnty
Matching done was:  Las Cruces to Las Cruces
Matching done was:  Crestview to Crestview
Matching done was:  Moscow to Moscow
Matching done was:  Joliet Pk Dist to Joliet Pk Dist
Matching done was:  Sussex Cnty to Sussex Cnty
Matching done was:  Kalispell  to Kalispell
Matching done was:  Plaquemine to Plaquemine
Matching done was:  Salem to Salem
Matching done was:  Chelan Cnty to Chelan Cnty
Matching done was:  Grundy Cnty to Grundy Cnty
Matching done was:  Commerce to Commerce
Matching done was:  Geneva County to Geneva County
Matching done was:  Dodge City to Dodge City
Matching done was:  Bath Charter Twp to Bath Charter Twp
Matching done was:  Pine Bluff to Pine Bluff
Matching done was:  Oro Vy to Oro Vy
Matching done was:  Travis Cnty Mun Util Dist No.11 to Travis Cnty Mun Util Dist No.11
Matching done was:  Fredericksburg to Fredericksburg
Matching done was:  El Paso De Robles  aka Paso Robles  to El Paso De Robles (aka Paso Robles)
Matching done was:  Sea Isle City to Sea Isle City
Matching done was:  River Trails Pk Dist to River Trails Pk Dist
Matching done was:  Killingly Twn to Killingly Twn
Matching done was:  Yonkers to Yonkers
Matching done was:  Valdez to Valdez
Matching done was:  Farmers Branch to Farmers Branch
Matching done was:  Clay Twp to Clay Twp
Matching done was:  Hot Springs to Hot Springs
Matching done was:  Stone County to Stone County
Matching done was:  Rawlins County to Rawlins County
Matching done was:  Harris Cnty Mun Util Dist 354 to Harris Cnty Mun Util Dist #354
Matching done was:  Sweetwater Cnty to Sweetwater Cnty
Matching done was:  South Florida Wtr Mgt Dist to South Florida Wtr Mgt Dist
Matching done was:  Williamson Cnty Mun Util Dist 11 to Williamson Cnty Mun Util Dist #11
Matching done was:  Reno to Reno
Matching done was:  St Louis Regl Arpt Auth to St Louis Regl Arpt Auth
Matching done was:  Smithfield to Smithfield
Matching done was:  Garfield Township to Garfield Township
Matching done was:  Tamarac to Tamarac
Matching done was:  Virginia Peninsula Regl Jail Auth to Virginia Peninsula Regl Jail Auth
Matching done was:  Summerdale to Summerdale
Matching done was:  Snoqualmie to Snoqualmie
Matching done was:  Dickinson to Dickinson
Matching done was:  Greenfield to Greenfield
Matching done was:  Pointe Coupee Parish to Pointe Coupee Parish
Matching done was:  St. Bernard Parish to St. Bernard Parish
Matching done was:  La Paz Cnty to La Paz Cnty
Matching done was:  Jefferson Cnty  GO  to Jefferson Cnty
Matching done was:  Buford to Buford
Matching done was:  Annapolis to Annapolis
Matching done was:  Shell Rock River Watershed District to Shell Rock River Watershed District
Matching done was:  Jeannette to Jeannette
Matching done was:  Denver City Cnty to Denver City & Cnty
Matching done was:  Grand Meadow to Grand Meadow
Matching done was:  Centerville City to Centerville City
Matching done was:  Burleigh Cnty to Burleigh Cnty
Matching done was:  NOVATO to Novato
Matching done was:  Jones Cnty to Jones Cnty
Matching done was:  Gwinnett Cnty to Gwinnett Cnty
Matching done was:  Hidalgo Cnty Dr Dist 1 to Hidalgo Cnty Dr Dist #1
Matching done was:  Spring Creek Utility District to Spring Creek Util Dist
Matching done was:  Wadsworth to Wadsworth
Matching done was:  Surry Cnty to Surry Cnty

In [218]:
array[0]

86.0